urllib3<2
pandas-ta
numpy
pandas
yfinance
stable-baselines3 
gymnasium 
torch 
vectorbt
scikit-learn 
matplotlib 


ccxt
alpaca-trade-api
alpha_vantage
plotly
plotly-resampler
tensorboard
urllib3
six
